/* font */ 
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#3e3e3e;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.p-sm {
    font-size: 1rem;
    line-height: 1.5rem;
}

.p-strong{
    font-weight:500;
}

h1, h2{
    font-size:2.2rem;
    color:#3e2f1c;
    font-weight: 700;
}

h2{
    line-height: 1.4;
    font-weight:700;
}

h5 {
    color:#3e2f1c;
}

.text-color{
    color:#dfa221;
}

.tell {
    font-size:1.3rem;
    font-weight: 700;
}


.p-footer{
font-size: 0.8rem;
text-align: center;
}

a, .submit-btn, .modal-title, .modal-content {
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}


.text-lg{
    font-size: 1.5rem;
}


/* style */ 
.background{
    background-color: #9BD8E2;
}

.navbar-light .navbar-toggler, .list-group-item {
    border: none;
}

.btn-color, .list-group-item:hover, .submit-btn {
    color:white;
    background-color:#dfa221;
 }

.btn-white:hover {
    color:white !important;
    background-color:#dfa221 !important;
}

.btn-white {
    color:#dfa221 !important;
    background-color: white !important;
}

.btn-color:hover, .submit-btn:hover {
    color:white !important;
    background-color: #dfb459 !important;
}


.btn{
    border-radius: 0;
    letter-spacing: .1rem;
    text-align: center;
    font-weight: 500;
}

.modal-header {
    border-bottom: none;
 }

 .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
 }


 .tell:hover{
    color:#FBB509;
 }


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#FBB509;
}

.navbar-light .navbar-nav .nav-link{
    color:black;
}

.form-control {
    border-radius:0;
}

.form-control::-webkit-input-placeholder { color:#DADFE0; }  /* e1dfde WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #DADFE0; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #DADFE0; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #DADFE0; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #DADFE0; }  /* Microsoft Edge */

/* layout */ 
.jumbotron-fluid {
    background-size: cover;
    background: url("imgs/jumbotron3.png");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.jumbotron-fluid .col{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 1.5rem;
}

.modal-open{
    padding:25px !important;
}

.modal-content {
    width: 1500px;
    max-width: 100%;
    border-radius: 0;
    border: 9px solid rgba(223,162,33);
 }

 .modal-button {
    display: inline-block;
    text-align: right;
 }


.fixed-top {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
}

.card {
    display:inline-block;
    border: none;
}

.margin-top-lg {
    margin-top:5rem;
}

.rounded-circle {
    width: 180px;
}

.img-width {
    max-width:16rem;
}

.img-width2 {
    max-width:17rem;
}

.img-width3 {
    max-width:10rem;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dfa221;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 14px;
}

#myBtn:hover {
    background-color: #FBB509;
}

@media (min-width: 576px) { 

    .img-width2 {
        max-width:30rem;
    }

    .img-width3 {
        max-width:25rem;
    }
}

@media (min-width: 768px) {  
    
    .img-width3 {
    max-width:16rem;
    }
}

@media (min-width: 992px) { 
    .carousel-item{
        height: 600px;
    }

    .rounded-circle {
        width: 240px;
    }

    .img-width3 {
        max-width:24rem;
        }

}