body {
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
 height: 100vh;
 background: #1c1026;
 position: relative;
 font-family: 'Allerta Stencil', sans-serif;
}



.text, h1 {
    position: absolute;
    color:#ffffff;
    margin-left: 60px;
    margin-top: -25px;
    letter-spacing: 1.8rem;
    animation: text 3s ease-in-out infinite;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

@keyframes text {
    0% {
        color:#ffffff;
    }

    50%{
        letter-spacing: 5rem;
        color:#fcb711;
    }
    100%{
        letter-spacing: 1.8rem;
        color:#ffffff;
    }
}
